1. classroom > CourseTeacher short info card > 


layout 50/50

- side layout a class resource 
- side layout a class info
- cheating + 


req.user.id / req.user.role (this is currently login user.)


task ------------
student can see which teacher is on online now.
login/signup/payment button k disable korte hobe akbar click korar por (untill login process).

   -------Todo----------
1. Teacher should accpet class request.
2. when student make a class reques it'll be stored in student histories. (Solved)


profile pic
https://i.ibb.co/xzzM5L4/shamim-islam-3.png




braintreee (Payment methord)
pass > davidbasser88
eemail> davidbasser88@gmail.com



following projects :  http://uitheme.net/elomoas/default-channel.html


------Educational website-----
1. https://mentoring-react.dreamguystech.com/template/app/index
(admin)
https://mentoring-react.dreamguystech.com/template/admin/index
2. https://preview.themeforest.net/item/educal-online-learning-and-education-vue-js-template/full_screen_preview/37099827?_ga=2.145605620.1980737118.1667376919-2069613993.1649570082





-----------uncomplete/errror------------
1. fonted with redux this route re-rendered automatically---    /AllStudent-classrequest



---------redux page reload Solved----------
***redux er kno kisu store korte chaile page reload deyar por thakbe.**

1. Action a ja thakbe, sei data gulo jei page a show/store korte chaibo sei page a
   action function ta dispath korte hbe. dispath a kno value pass korar thake korte hbe.
  


-------headers set problem most probably solved-----------

1. headers set korte hobe. (axios)
2. function er jnnno async then await use korte hobe jekhane pblm hsce sekhane.
3. brower console a dekhte hobe. (network tab)
4. 401 error ase. (unauthorized)
5. 401 error ase karon headers set kora hoi nai. (axios)

