@import "antd/dist/antd.css";
@import "remixicon/fonts/remixicon.css";

/* @import "@fullcalendar/core/main.css";
@import "@fullcalendar/daygrid/main.css"; */
/* @import "react-loader-spinner/dist/loader/css/react-spinner-loader.css"; */

:root {
  height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  max-height: fit-content;
  color: white;
  /* background: #001529; */
}

/* .ant-layout{
  background: #001529;
}
.site-layout .site-layout-background{
  background: #001529 !important;
} */
