/* @import url("https://fonts.googleapis.com/css2?family=Play&family=Playfair+Display:ital,wght@0,400;0,800;1,400;1,700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    /* height: 100vh;
    width: 100%; */
    /* background-color: #0b1120; */
  }
}

@layer components {
  .btn-primary {
    @apply bg-sky-500 py-1 px-5 mt-5 rounded-full hover:text-white hover:bg-sky-700 hover:bg-sky-600 active:bg-sky-700 focus:outline-none focus:ring focus:ring-sky-300;
  }
  .btn-disabled {
    @apply bg-gray-300 py-1 px-5 mt-5 rounded-md hover:text-white cursor-not-allowed;
  }
  .btn-profile {
    @apply px-4 py-1 text-sm font-semibold text-sky-900 rounded-full border border-purple-200 hover:text-white hover:bg-sky-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-sky-600 focus:ring-offset-2;
  }
  .btn-confirm {
    @apply bg-sky-500 px-3 mt-5 rounded-md hover:text-white hover:bg-sky-700 hover:bg-sky-600 active:bg-sky-700 focus:outline-none focus:ring focus:ring-sky-300;
  }
  .btn-reject {
    @apply bg-gray-200 py-1 px-5 mt-5 rounded-md hover:text-white hover:bg-gray-700 hover:bg-gray-300 active:bg-gray-400 focus:outline-none focus:ring focus:ring-sky-300;
  }
  .upload-pic-input {
    @apply block w-full text-sm text-slate-500
    file:mr-4 file:py-2 file:px-4
    file:rounded-full file:border-0
    file:text-sm file:font-semibold
    file:bg-violet-50 file:text-violet-700
    hover:file:bg-violet-100;
  }
  .avader-pic {
    @apply block w-full text-sm text-slate-500
    file:mr-4 file:py-2 file:px-4
    file:rounded-full file:border-0
    file:text-sm file:font-semibold
    file:bg-violet-50 file:text-violet-700
    hover:file:bg-violet-100;
  }
  .classReq-input {
    @apply block w-full px-5 py-3 text-base text-neutral-600 placeholder-gray-300 transition duration-200 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300;
  }
}

@layer utilities {
}
